body {
    background-image: -moz-linear-gradient(0deg, #edf2fa 0%, #edf2fa 100%);
    background-image: -webkit-linear-gradient(0deg, #edf2fa 0%, #edf2fa 100%);
    background-image: -ms-linear-gradient(0deg, #edf2fa 0%, #edf2fa 100%);
    font-family: 'Poppins', sans-serif;
    color: #717171;
}

.form-control {
    font-size: 1rem;
    padding: 1.5rem 1rem;
}

.custom-checkbox label {
    line-height: 1.5rem;
}

.btn {
    font-size: 15rem;
    padding: 0.75rem 1rem;
}

.pilih {
    text-align: center;
}

.pilih a {
    color: #111;
    font-size: 13px;
    padding: 5px 15px;
    background: transparent;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
